/* Override some defaults */
html,body{ background:transparent; }
body {
  background: url(../img/body.jpg) fixed;
}
.navbar {
  margin-bottom: 0;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background:transparent;
  background:rgba(255,255,255,1);
  padding: 20px;
  margin: 0 -35px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background:transparent;
  background:rgba(255,255,255,.5);
  padding: 20px 20px 10px;
  margin: 10px -20px 10px;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#273747;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#101010;
	border:1px solid #4C964D;
	color:#FFF;
}

.socials {
  position: absolute;
  right: 10px;
  display: block;
  margin: -15.5px 295px 0 0;
  list-style: none; }
.socials .weibo {
    background: url(/assets/themes/twitter/img/socialmedia/weibo.png) no-repeat; }
.socials .renren {
    background: url(/assets/themes/twitter/img/socialmedia/renren.png) no-repeat; }
.socials .facebook {
    background: url(/assets/themes/twitter/img/socialmedia/facebook.png) no-repeat; }
.socials .github {
    background: url(/assets/themes/twitter/img/socialmedia/github.png) no-repeat; }
.socials li {
    float: left; }
 .socials li a {
    width: 28px;
    height: 28px;
    margin: 21px 6px 6px 0;
    display: block;
    text-indent: -9999px;
    background-position: 0 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
 .socials li a:hover {
    background-position: 0 -38px; }
