<div class="page-header">
  <h1>{{ page.title }} <small>ManShow且敞亮</small></h1>
</div>

<div class="row">
  <div class="span8" style="width:70%; margin-left:35px;">
    {{ content }}
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; 向前一篇</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; 点不了</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">其余的都在这儿</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">往后一篇 &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>点不了 &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
    {% include JB/comments %}
  </div>
  
  <div class="span4" style="width:20%;">
    <h4>Published</h4>
    <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>

  {% unless page.tags == empty %}
    <div id="tagDiv">
	<h4>Tags</h4>
	<ul class="tag_box">
	{% assign tags_list = page.tags %}
	{% include JB/tags_list %}
	</ul>
    </div>
  {% endunless %}  
  </div>
</div>
