<!--<div class="page-header">
  <h1>{{ page.title }} <small>Supporting tagline</small></h1>
</div>-->

<article class="post">
    <h2 class="post-title">
        <a>{{ page.title }}</a>
    </h2>
    <p class="post-date">
        <span class="year"> {{ page.date|date:"%Y" }}</span>
        <span class="month"> {{ page.date|date:"%m" }} </span>
        <span class="day">{{ page.date|date:"%d" }}</span>
        <span class="time">{{ page.date|date:"%H:%M %p" }}</span>
        <span class="postcomment">{{ page.weather }}</span>
    </p>
    <section class="article-content">
        {{ content }}
    </section>
<div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; 向前一篇</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; 点不了</a></li>
      {% endif %}
        <li><a href="/categories.html">浏览全部</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">往后一篇 &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>点不了 &rarr;</a>
      {% endif %}
      </ul>
    </div>
    
<hr>
    {% include JB/comments %}
</article>
